*{
    margin: 0;
    
}
.Raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.maindiv{
    background-image: url(Assets/Hero-bg.png);
    padding-top: 20px;
    padding-bottom: 150px;
}


.navbar{
    display:flex;
    justify-content: space-between;
    margin: 100px 200px;
}
.button1{
    background-color: rgb(52, 52, 239);
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;

}
.button1:hover{
    background-color: rgb(193, 245, 4);
    color: #01010b;
}

.mainbody{
text-align: center;    
}
.title{
    font-weight: 800px;
    font-size: 50px;
}
.part2{
    max-width: 1140px;
     margin: 0 auto;
   
}

.actionpart{
    display: flex;
    justify-content:space-between;
    margin: 150px 0px;
}
.actionpart1{
    align-content:center;
}
.title2{
    font-size: 38px;
    font-weight: bold;
}
img{
    margin-bottom:-4px ;
   
}
.image1{
    border-radius: 30px;
    overflow: auto;
}
.rankingpart{
    background-color:#E5E7FF;
    text-align: center;
    padding: 50px 0px;
    border-radius: 10px;
    max-width: 1140px;
    margin: 0px auto;

}
.ranking{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}
.rank{
    font-size: 50px;
    color: #4E47FF;
}

.Reviewe{
       padding: 50px 50px;
       max-width: 1140px;   margin: 0px auto;

     
}
h4{
    font-size:20px;
}
.card{
    background-color: rgb(219, 214, 208);
    padding: 25px;
    border-radius: 10px;
}
.title3{
    text-align: center;
    margin: 100px 0px 20px 0px;
    font-size: 40px;
    padding-top: 50px;
}
.part3{
    max-width: 1140px;
    margin: 0px auto;
    border-radius: 10px;
    background-color:#e8e8ef ;
    padding-bottom: 100px;
}
.part4{
    display:flex;
    max-width: 1140px;
    justify-content: space-evenly;
    background-color: #dadcec;
    border-radius: 10px;
    margin: 150px auto;
    align-items: center;
    padding: 100px 0px;
}
input{
    width: 500px;
    height: 50px;
    border: 2px solid rgb(141, 140, 140);
    border-radius: 10px;
}

.button2{
    width: 100%;
    padding: 20px 0px;
    background-color: rgb(31, 31, 247);
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

.button2:hover{
    background-color: rgb(193, 245, 4);
    color: #010104;
}
::placeholder{
    padding-left: 20px;
}
.title4{
    font-size: 90px;
    font-weight: bolder;
    color: rgb(5, 5, 232);
}
.footer{
    text-align: center;
    padding: 50px 0px;
}
a{
    text-decoration: none;
    color: rgb(128, 124, 124);
    margin: 20px;
}